body {
  color: #40514E;
  margin: 0;
  text-align: center;
  font-family: 'Merriweather', serif;
}

h1 {
  font-size: 90px;
  margin: 50px auto 0 auto;
  font-family: 'Sacramento', cursive;
  color: #66BFBF;
}

h2 {
  font-size: 30px;
  font-family: 'Montserrat', sans-serif;
  color:#66BFBF;
}

h3 {
  font-family: 'Montserrat', sans-serif;
  color: #11999E;
}

.top-container{
  background-color: #E4F9F5;
  padding: 100px;
}

.middle-container{

}

.bottom-container{
background-color: #66BFBF;
padding: 50px 0 20px;
}

.designer {
  text-decoration: underline;
}

.top-cloud {
  position: absolute;
  right: 300px;
  top: 40px;
}

.bottom-cloud {
  position: absolute;
  left: 200px;
  bottom: 150px;
}
.sunil{
  height: 200px;
}
.chillies{
  width: 25%;
  float: right;
  margin-left: 30px;
}
hr {
  border: dotted #EAF6F6 6px;
  border-bottom: none;
  width: 4%;
  margin: 100px auto 100px auto;
}
a{
  color: #11999E;
  font-family: 'Montserrat', sans-serif;
  margin: 10px 20px 10px 20px;
  text-decoration: underline;

}
a:hover{
  color: #EAF6F6
}
.challenge2{
  font-weight: normal;
}
.skills{
  width: 50%;
  margin: 50px auto 100px auto;
  text-align: left;
  line-height: 2;
}
.getintouch{
  margin-top: 50px;
  line-height: 2;
}
.contact-me{
  margin-top: 50px;
}
.giphy{
  width: 25%;
  float: left;
  margin-right: 30px;
}
.und{
  text-decoration: underline;
}
.intro{
  width: 30%;
  margin: auto;
}
.contactmessage{
  width: 40%;
  margin: 40px auto 60px auto;
}

.btn {
	background-color:#30e3cb;
	border-radius:28px;
	border:1px solid #abc7ae;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:17px;
	padding:16px 31px;
	text-decoration:none;
}
.btn:hover {
	background-color:#2bc4ad;
}
.btn:active {
	position:relative;
	top:1px;
}
.copyright{
  color: #EAF6F6;
  font-size: 15px;
}
.btn1 {
	background-color:#30e3cb;
	border-radius:28px;
	border:1px solid #abc7ae;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:17px;
	padding:16px 31px;
	text-decoration:none;
}
.btn1:hover {
	background-color:#2bc4ad;
}
.btn1:active {
	position:relative;
	top:1px;
}
.udemypic{
  width: 20px;

}
